@import "components/form";
@import "components/dropdown";
@import "components/scrollbar";
@import "components/input";

html {
    user-select: none;
}

#app-container {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}
