.btn-primary
    background-color: $primary

.btn
    .next-caret
        position: relative
        display: inline-block
        left: 2px
        transition: 0.2s ease-out
    &.btn-animated-caret:hover .next-caret
        left: 7px
