@import "../configs"

.form
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: 420px
    min-height: 50px
    border-radius: 9px
    padding: 15px
    border: 1px solid $borderColor
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180.33deg, rgba(14, 14, 14, 0.99) 13.36%, rgba(14, 14, 14, 0.3267) 99.72%)
