.input-row
    position: relative
    input
        background-color: $darkGrey2
        outline: none
        padding: 9px 15px
        padding-left: 45px
        border: 1px solid $borderColor
    .input-title
        position: relative
        top: 12px
        margin-left: 10px
        background-color: $darkGrey2
    .input-icon
        position: absolute
        width: 16px
        top: 38px
        margin-left: 16px
