.ngx-custom-scrollbar .ng-scroll-content {
    --scrollbar-offset: 10px;
    
    .ng-scrollbar-track{
        border-radius: 50px;
        background-color: rgb(var(--backgroundSecondary));
    }
    .ng-scrollbar-thumb {
        border-radius: 50px;
        background-color: rgba(var(--content3));
        opacity: 0.7;
    }

    scrollbar-x {
        display: none;
    }
}
