<div class="message-bubble flex items-end gap-2 mb-3">
    <div class="avatar">
        <img src="https://i.pravatar.cc/150?u=a042581f4e29026024d" alt="avatar" />
    </div>

    <div class="message-bubble--content bg-backgroundPrimary border border-border p-2 px-3 rounded-md">
        <h1 class="text-md mb-1 text-primary">Maximilian Tepesh</h1>

        <div class="text-sm">
            Hi Max! What's up?
        </div>
    </div>
</div>

<!-- Forward -->
<div class="message-bubble flex items-end gap-2 mb-3">
    <div class="avatar">
        <img src="https://i.pravatar.cc/150?u=a042581f4e29026024d" alt="avatar" />
    </div>

    <div class="message-bubble--content bg-backgroundPrimary border border-border p-2 px-3 rounded-md">
        <div class="flex flex-row justify-between items-center mb-1">
            <h1 class="text-md text-primary">Taha Dostifam</h1>
            <span class="text-sm text-content2">admin</span>
        </div>

        <div class="w-full border border-border border-l-primary border-l-4 px-2 py-0.5 mb-2 rounded-md">
            <h1 class="text-sm mb-1 text-primary">Maximilian Tepesh</h1>
            <div class="text-sm">
                Hello World...
            </div>
        </div>

        <div class="text-sm">
            Nothing new. What about you?
        </div>
    </div>
</div>