.message-bubble {
    .message-bubble--content {
        &.message-bubble--selected {
            background-color: rgb(var(--primary));
            .fill-primary {
                fill: #fff !important;
            }
        }

        width: max-content;
        max-width: 450px;

        @media screen and (max-width: 950px) {
            & {
                max-width: 310px;
            }
        }
        @media screen and (max-width: 650px) {
            & {
                max-width: 250px;
            }
        }
    }
}
