<div class="form form-center">
    <form class="flex flex-col p-4">
        <h2 class="mb-4 text-2xl">Forgot Password</h2>
        
        <p>
            Enter your email address then you will receive an email to reset your password.
        </p>

        <div class="form-group mt-4">
            <div class="form-field">
                <label class="form-label">Email</label>

                <input placeholder="mail@kavka.org" type="email" class="input max-w-full" />
                <label class="form-label">
                    <span class="form-label-alt">Please enter a valid email.</span>
                </label>
            </div>
            <div class="form-field pt-5">
                <div class="form-control justify-between">
                    <button type="button" class="btn btn-primary w-full">Submit</button>
                </div>
            </div>

            <div class="form-field">
                <div class="form-control">
                    <a routerLink="/auth/login" class="link link-underline-hover link-primary text-sm">Login</a>
                </div>
            </div>
        </div>
    </form>
</div>