<input type="checkbox" id="drawer-right" class="drawer-toggle" />

<label for="drawer-right" class="btn btn-primary">
	<p>Open right</p>
</label>
<label class="overlay" for="drawer-right"></label>

<div class="drawer drawer-right">
	<div class="drawer-content">
		<label for="drawer-right" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</label>
		<p class="max-w-xl mx-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
	</div>
</div>