<div class="avatar avatar-md">
    <div class="dropdown-container">
        <div class="dropdown">
            <label class="btn btn-ghost flex cursor-pointer px-0 hover:bg-inherit" tabindex="0">
                <img src="https://i.pravatar.cc/150?u=a042581f4e29026024d" alt="avatar" />
            </label>
            <div [classList]="'mb-4 dropdown-menu dropdown-menu-' + dropDownPosition">
                <a
                    routerLink="/settings/account"
                    tabindex="-1"
                    class="dropdown-item hover:bg-primary text-sm"
                    >Account settings</a
                >
                <a
                    routerLink="/auth/logout"
                    tabindex="-1"
                    class="dropdown-item hover:bg-primary text-sm"
                    >Subscriptions</a
                >
            </div>
        </div>
    </div>
</div>
