<div class="form form-center">
    <form class="flex flex-col p-4">
        <h2 class="mb-4 text-2xl">Login</h2>

        <div class="form-group">
            <div class="form-field">
                <label class="form-label">Email</label>

                <input placeholder="mail@kavka.org" type="email" class="input max-w-full" />
                <label class="form-label">
                    <span class="form-label-alt">Please enter a valid email.</span>
                </label>
            </div>
            <div class="form-field">
                <label class="form-label">
                    <span>Password</span>
                </label>
                <div class="form-control">
                    <input placeholder="Secure password" type="password" class="input max-w-full" />
                </div>
                <div class="form-label">
                    <span class="form-label-alt">At least 8 characters and strong structure.</span>
                </div>
            </div>
            <div class="form-field mt-4">
                <div class="form-control justify-between">
                    <div class="flex gap-2">
                        <input id="remember-me" type="checkbox" class="checkbox" />
                        <label class="cursor-pointer" for="remember-me">Remember me</label>
                    </div>
                    <label class="form-label">
                        <a routerLink="/auth/forgot_password" class="link link-underline-hover link-primary text-sm">Forgot
                            your password?</a>
                    </label>
                </div>
            </div>
            <div class="form-field pt-5">
                <div class="form-control justify-between">
                    <button type="button" class="btn btn-primary w-full">Submit</button>
                </div>
            </div>

            <div class="form-field">
                <div class="form-control">
                    <a routerLink="/auth/signup" class="link link-underline-hover link-primary text-sm">Don't have an account?
                        Signup!</a>
                </div>
            </div>
        </div>
    </form>
</div>