<div class="form form-center">
    <div class="flex flex-col p-4">
        @for (item of formErrors; track $index) {
        <div track class="alert alert-error mb-3">
            <svg width="30" height="30" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M24 4C12.96 4 4 12.96 4 24C4 35.04 12.96 44 24 44C35.04 44 44 35.04 44 24C44 12.96 35.04 4 24 4ZM24 26C22.9 26 22 25.1 22 24V16C22 14.9 22.9 14 24 14C25.1 14 26 14.9 26 16V24C26 25.1 25.1 26 24 26ZM26 34H22V30H26V34Z"
                    fill="#E92C2C" />
            </svg>
            <div class="flex flex-col">
                <span>{{item}}</span>
            </div>
        </div>
        }

        <h2 class="mb-4 text-2xl">Login</h2>

        <div class="form-group">
            <div class="form-field">
                <label class="form-label">Email</label>

                <input [(ngModel)]="emailInput" placeholder="mail@kavka.org" type="email" class="input max-w-full" />
                <label class="form-label">
                    <span class="form-label-alt">Please enter a valid email.</span>
                </label>
            </div>
            <div class="form-field">
                <label class="form-label">
                    <span>Password</span>
                </label>
                <div class="form-control">
                    <input [(ngModel)]="passwordInput" placeholder="Secure password" type="password"
                        class="input max-w-full" />
                </div>
                <div class="form-label">
                    <span class="form-label-alt">At least 8 characters and strong structure.</span>
                </div>
            </div>
            <div class="form-field mt-4">
                <div class="form-control justify-between">
                    <div class="flex gap-2">
                        <input [(ngModel)]="rememberMeInput" id="remember-me" type="checkbox" class="checkbox" />
                        <label class="cursor-pointer" for="remember-me">Remember me</label>
                    </div>
                    <label class="form-label">
                        <a routerLink="/auth/forgot_password"
                            class="link link-underline-hover link-primary text-sm">Forgot
                            your password?</a>
                    </label>
                </div>
            </div>
            <div class="form-field pt-5">
                <div class="form-control justify-between">
                    <button (click)="submitLogin()" type="button" class="btn btn-primary w-full">Submit</button>
                </div>
            </div>

            <div class="form-field">
                <div class="form-control">
                    <a routerLink="/auth/signup" class="link link-underline-hover link-primary text-sm">Don't have an
                        account?
                        Signup!</a>
                </div>
            </div>
        </div>
    </div>
</div>