$mobile-break-point: 900px;

.create-chat-modal {
    min-width: 470px !important;
}

.platform-chats {
    --sidebar-size: 370px;

    display: grid;
    grid-template-columns: var(--sidebar-size) calc(100% - var(--sidebar-size));
    border-left: 1px solid rgb(var(--border));
    height: 100%;

    .platform--sidebar {
        position: relative;
        border-right: 1px solid rgb(var(--border));
    }

    .platform-chats--list {
        height: calc(100vh - 125px);
    }

    // Responsive :: Mobile
    @media screen and (max-width: $mobile-break-point) {
        & {
            --sidebar-size: 100%;
        }

        .platform-chats--list {
            height: calc(100vh - 169px);
        }

        .platform-chats--viewbox {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgb(var(--backgroundPrimary));
            z-index: 95;
            transition: 0.3s ease;
            display: none;
            &.chat-activated {
                display: block;
            }
        }
    }
}

.platform--header {
    margin-bottom: 10px;

    .platform-header--icon {
        width: 40px;
    }

    // Enable only for Desktop Mode
    @media screen and (min-width: $mobile-break-point) {
        & {
            gap: 0;
        }
        .platform-header--icon {
            display: none;
        }
    }
}

@media screen and (max-width: $mobile-break-point) {
    .no-chat-selected {
        display: none;
    }
}
