@tailwind base
@tailwind components
@tailwind utilities

@import "configs"

@font-face
  font-family: "Poppins"
  src: url("../fonts/Poppins/Poppins-Regular.ttf")

@font-face
  font-family: "Vazir"
  src: url("../fonts/Vazir/Vazirmatn-Regular.ttf")

*
  margin: 0
  padding: 0
  box-sizing: border-box
  user-select: none
  -webkit-user-drag: none

body
  font-family: "Poppins", "Vazir"

#router-view
  width: 100%
  min-height: 100vh
  &.theme-dark
    background-color: $dark
    color: #D1D1D1

@import "components/forms"
@import "components/inputs"
@import "components/buttons"
